.btn-close
    margin -8px

.size-sm
    max-width 460px

.size-md
    max-width 768px

.size-lg
    max-width 1024px

.iframes
    border-top 1px solid $grey-3
    border-bottom 1px solid $grey-3

.base-modal.absolute-bottom-actions
        div:not(.q-card__actions)
            iframe
                padding-bottom 58px
        .q-card__actions
            border-top 1px solid $grey-3
            background $white