.q-chip
    margin-left 5px

.payment-method-name
    font-weight bold

.payment-choose-method-modal
    padding 20px 20px
    width 600px

.payment-method-choice
    padding 20px 0
    cursor pointer

.payment-method-choice:hover
    background #f4f4f4

.payment-logo
    height 40px
    border-radius 50%
    box-shadow 1px 4px #ddd

.payment-method-container
    display flex
    flex-direction column
    justify-content center

.payment-method-info
    color #737373

.setup-button-container
    align-items center

.payment-method-details
    padding 0 20px

.setup-button,
.delete-button
    align-self flex-end

.delete-button
    color red